{% extends 'basepage/ictparkbd_layout.html' %}
{% block content %} 
{% include 'components/navbarfront.html'%}           
{% load i18n static %}

 {% load static %}
 
 <div class="wrapper">
        <div class="logo1">
            <img src="{% static 'images/gmrwc_logo.png'%}" alt="">
        </div>
       
                
                <div class="text-center mt-4 name">
              লগিন করুন
        </div>
        {% if form.errors and not form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
                  {% blocktranslate count counter=form.errors.items|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktranslate %}
        </div>
        {% endif %}
        
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
                      {{ error }}
        </div>
        {% endfor %}
        {% endif %}
                 {%if email %}
                
                <div class="alert alert-danger" role="alert">
                  <strong>{{email}}</strong> 
                </div>
                {% endif %}
                
                {%if password %}
                
                <div class="alert alert-danger" role="alert">
                  <strong>{{password}}</strong> 
                </div>
                
                {% endif %}
                
                <form action="{{ app_path }}" class="p-3 mt-3" method="POST">
                  {% csrf_token %}
               <div class="form-field d-flex align-items-center">
                <span class="far fa-user"></span>
                <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="100" required="" id="id_username" placeholder="ই-মেইল">
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <input type="password" name="password" autocomplete="current-password" required id="id_password" placeholder="পাসওয়ার্ড">
            </div>
            <button class="btn mt-3">লগ-ইন</button>
        </form>
        <div class="text-center fs-6">
            <a href="">Forget password?</a> or <a href="">রেজিস্ট্রেশন</a>
        </div>
    </div>
<script>
             
              // When the user scrolls down 50px from the top of the document, resize the header's font size
              window.onscroll = function() {
                  scrollFunction()

              };
          
              function scrollFunction() {
                var x = window.matchMedia("(max-width: 989px)")
                  if (document.body.scrollTop >50 || document.documentElement.scrollTop > 50) {
                    document.getElementById("header").className = "header sticky";

                    
                    {% comment %} if (x.matches) { 
                      // If media query matches
                    } else {
                      document.getElementById("heading").style= "padding-top:-20px;font-size:35px;";
                      document.getElementById("sub-heading").style.display = "none";

                     
                    } {% endcomment %}
                      
                  } else {
                    document.getElementById("header").className = "header";
                    document.getElementById("sub-heading").style.display = "block";

                    {% comment %} if (x.matches) { 
                      // If media query matches
                    } else {
                    document.getElementById("heading").style= "padding-top:-20px;font-size:40px;";
                    } {% endcomment %}


                  }
                 
              }
          </script>
{% endblock %} 

