
{% extends 'basepage/ictparkbd_layout.html' %}

{% block content %}
{% load static %}
<style>
    .main_body{
        width:100%;
        height:100%;
        color:red;
    }
    option{
      color:#035a4c;
      font-weight:bold;
      font-size:17px;
    }
    option:hover:after{
      background-color:#035a4c;
      font-weight:bold;
    }
    @media(max-width:767px){
        .main_body{
            width:100%;
            height:700px;
            color:red;
            background-color:green;
        }   
    }
</style>
 <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  
  <script type="text/javascript" src="{% url 'jsi18n' %}" > </script>
  <script type="text/javascript" src="{% static 'admin/js/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/SelectBox.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/SelectFilter2.js' %}"></script>
  <script src="https://www.nothi.gov.bd/assets/global/plugins/jquery.min.js" type="text/javascript"></script> 
<div class="services">
  
  <div data-v-6f04a53f="" class="memberRegistration py-5" >
    <div class="container-wrapper" style="margin-top:-20px;">
      <table>
        <thead>
          <th width="60%">
             <h1 id="indication" style="display:inline-block;" > </h1>
          </th>
          <th width="40%">
               <input maxlength="6" type="text" name="roll" class="form-control form-control-sm" style="margin:auto;width:40%" required="" id="id_roll" oninput="myFunctionTeacher(this.id);" autofocus> 
          </th>
        </thead>
      </table>
      <div class="row justify-content-md-center">
        <div class="col col-lg-12">
          <div class="card login-body shadow-lg rounded-10 py-5">
            <table width="100%" border="1" cellspacing="0" cellpadding="10">
              <thead><th id="name" colspan="5" style="height: 40px; background-color: #035a4c; color: #fff;text-shadow: 5px 5px 5px rgb(65, 7, 7);padding: 0px;font-size:50px;text-align:center;"> Student Attendance</span>
</th></thead>
              {% if notfound %}
              <thead style="height: 25px; background-color: #245b80; color: #fff;padding: 15px"><th colspan="5" style="height: 40px; background-color:rgb(168, 8, 8); color: #fff;padding: 20px;"> Student not found!! Re=Enter Right Information or Contact  control room</th></thead>
              {% endif %}
              {% if message %}
              <thead style="height: 25px; background-color: #245b80; color: #fff;padding: 15px"><th colspan="5" style="height: 40px; background-color:rgb(168, 8, 8); color: #fff;padding: 15px;"> {{message}} </th></thead>
              {% endif %}
              <tbody>
              </tbody>
            </table>
                <div class="card-body">

                <span class="bubbleNew"><img src="{%static 'images/ictpark_monogram.png'%}" class="rounded-circle" style="width: 200px;height: 200px;" /></span>

                <span class="shape"><img align="center" src="{% static 'images\9999.jpg' %}"><img align="center" style="height:60%;margin-top:10%;rotate: -50deg;" src="{% static 'images\gmrwc_logo.png' %}"></span> 
                {%if email %}
            
            <div class="alert alert-danger" role="alert">
              <strong>{{email}}</strong> 
            </div>
            
            {% endif %}
            {%if phone %}
            
            <div class="alert alert-danger" role="alert">
              <strong>{{phone}}</strong> 
            </div>
            
            {% endif %} 
            
            {%if password %}
            
            <div class="alert alert-danger" role="alert">
              <strong>{{password}}</strong> 
            </div>
            
            {% endif %}
            
            {%if success %}
            
            <div class="alert alert-success" role="alert">
              <strong>{{success}}</strong> 
            </div>
            
            {% endif %}
            
            <form autocomplete="off" id="form" class="form-row px-3" method="post" action="{% url 'get_student' %}" target="_blank">
               {% csrf_token %}
                           
                        
{% comment %} 
                <div class="col-sm-4 form-group" style="margin:auto;">
                              <div class="row">
                                <div class="col-sm-4" >
                                  <label for="" class="col-form-label-sm m-0" style="font-size:20px;">Roll</label> 
                                  <div class="loginBox">
                                   
                                  </div> <!--  --> 
                                </div>
                                
                                 
                              </div>
               </div>
 {% endcomment %}


              
              
             
              
            </form>




             
                            <div class="col-sm-12 form-group" style="margin:auto;">
                              <div class="row">
                                  
                                 <div class="col-sm-4" >
                                 <caption> <h2 style="padding-left:10px;padding-right:10px;font-weight:bold;text-align:center;font-size:30px;background-color: #035a4c; color: #fff;text-shadow: 7px 7px 7px rgb(73, 25, 11);"> More Details About Student</h2></caption>

                                <table id="student_details" style="font-weight:bold;font-size:20px;">
                                  <thead >
                                    <th style="background-color:#a93226;color:white">Roll:</th>
                                     <th style="background-color:#e74c3c;color:white" id="roll"></th>
                                  </thead>
                                 
                                   <tr>
                                    <td style="background-color:#922b21;color:white">Group:</td>
                                    <td style="background-color:#b03a2e;color:white" id="group"></td>
                                  </tr> 

                                  <tr>
                                    <td style="background-color:#7b241c;color:white">Section:</td>
                                    <td style="background-color:#943126;color:white" id="section"></td>
                                  </tr> 
                                  <tr>
                                    <td style="background-color:#641e16;color:white">Session</td>
                                    <td style="background-color:#78281f;color:white" id="session"></td>
                                  </tr>
                                </table>
                                </div>
                                <div class="col-sm-4" >
                                    <img id="image" src="{% static 'images/gmrwc_logo.png' %}" width="350">

                                  </div>
                                <div class="col-sm-4" style="text-align:center" >
                                   <caption> <h2 style="padding-left:10px;padding-right:10px;font-weight:bold;font-size:30px;background-color: #035a4c; color: #fff;text-shadow: 7px 7px 7px rgb(73, 25, 11);">Todays Attendance Details</h2></caption>
                                  <table align="center"  style="font-weight:bold;font-size:20px; text-align:center;border-color:red;">
                                   
                                  <thead style="text-align:center;background-color:#641e16;padding:0px;color:white">
                                    <th>Science:</th>
                                     <th>Humanities</th>
                                     <th>Business Studies</th>
                                  </thead>
                                  <tr style="text-align:center;background-color:#b03a2e;padding:0px;color:white">
                                    <td id="science"></td>
                                    <td id="humanities"></td>
                                    <td id="business_studies"></td>
                                  </tr>
                                   <tr style="text-align:center;background-color:#b03a2e;padding:0px;color:white">
                                    <td colspan="2" style="text-align:center;">All</td>
                                    <td id="all"></td>
                                  </tr>
                                </table>
                                <table width="100%" border="0" cellspacing="0" cellpadding="10">
                                  <thead>
                                                                                    

                                    <th colspan="5">
                                      <button class="rounded-50 ml-1" style="padding-left:10px;padding-right:10px;font-weight:bold;font-size:50px;background-color: #035a4c; color: #fff;text-shadow: 7px 7px 7px rgb(73, 25, 11);"><div id="clock"></div></button>
                                    </th>
                                  </thead>
                                  <tr>
                                    <th colspan="5">
                                      <button class="rounded-50 ml-1" style="padding-left:10px;padding-right:10px;font-weight:bold;font-size:30px;background-color: #035a4c; color: #fff;text-shadow: 7px 7px 7px rgb(73, 25, 11);">{% now "l, F j, Y" %}</button>
                                    </th>
                                  </tr>
                                </table>

                                </div>
                                 
                              </div>
                            </div>








          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- CONTAINER -->
   
 
  <script>
    function myFunctionTeacher(id){
      var csrfToken = $('[name="csrfmiddlewaretoken"]').val();

      var roll=document.getElementById(id).value;
      
      if (roll.length==6){
          var $j = jQuery.noConflict();
        $.ajax({
        type: 'POST',
        url: "{% url 'get_student'%}",  // Adjust the URL as per your project structure
        data: {id:id,'value':roll},
        headers: {
               'X-CSRFToken': csrfToken
           },
       
        success: function (response) {
          
            if (response.status === 'success') {
               
              if(response.student[0] == null){
                document.getElementById(id).value="";
                      document.getElementById(id).focus();
                      document.getElementById("indication").innerText="Enter Your ID Card Again";
                }
              document.getElementById("image").src=response.student[0].image;//"/static/images/hsc-2024-25/"+response.student[0].class_roll+".jpg";
              document.getElementById("name").innerText=response.student[0].name;
              document.getElementById("roll").innerText=response.student[0].class_roll;
              document.getElementById("group").innerText=response.group;
              document.getElementById("section").innerText=response.student[0].section;
              document.getElementById("session").innerText=response.session;
              document.getElementById("science").innerText=response.attendance1[0].science;
              document.getElementById("science").style="text-align:center";
              document.getElementById("humanities").innerText=response.attendance1[0].humanities;
              document.getElementById("humanities").style="text-align:center";
              document.getElementById("business_studies").innerText=response.attendance1[0].business_studies;
              document.getElementById("business_studies").style="text-align:center";
              document.getElementById("all").innerText=response.attendance1[0].all;
              document.getElementById("all").style="text-align:center";
              if (response.done==1){
              document.getElementById("indication").style="color:red;";
              document.getElementById("indication").innerText="Previously! Your Attendance Done!!";
              }
              else{
              document.getElementById("indication").style="color:green;";
              document.getElementById("indication").innerText="Your Attendance Done!!";

              }

              setTimeout(() => {
                              document.getElementById("indication").innerText="Enter Another ID Card";

              }, 2000);
              document.getElementById(id).value="";
              document.getElementById(id).focus();
  
            } else {
            document.getElementById(id).value="";
            document.getElementById(id).focus();
            document.getElementById("indication").innerText="Enter Your ID Card Again";                    
                }
                
        },
        error: function (xhr, status, error) {
           document.getElementById(id).value="";
            document.getElementById(id).focus();
            document.getElementById("indication").innerText="Enter Your ID Card Again";
            var err = eval("(" + xhr.responseText + ")");
            alert(err.Message);
        }
    });
      }
     
      
      
    } 
    function updateClock() {
    const now = new Date();
    let hours = now.getHours();
    let minutes = now.getMinutes();
    let seconds = now.getSeconds();

    // Add leading zeros if needed
    hours = hours.toString().padStart(2, '0');
    minutes = minutes.toString().padStart(2, '0');
    seconds = seconds.toString().padStart(2, '0');

    const timeString = `${hours}:${minutes}:${seconds}`;
    document.getElementById('clock').textContent = timeString;
}

// Update the clock every second
    setInterval(updateClock, 1000);

// Initial call to display the time immediately
    updateClock();
    </script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

 
{% endblock  %}



